.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 768px;
  height: 80px;
  margin: auto;

  > .title {
    font-weight: bold;
    width: 768px;
  }

  > .navigation {
    display: flex;
    align-items: center;
    column-gap: 12px;
  }

  > .navigation > .link {
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }
}
